- provide(:title, 'Tasks')
.col-md-6
  %h2 Created tasks:
  - @created_tasks.each do |t|
    = render partial: 'task', locals: { task: t }
.col-md-6
  %h2 Assigned tasks:
  - @assigned_tasks.each do |t|
    = render partial: 'task', locals: { task: t }
